Article/bin/
AAKPresentation/bin/
Tester/Test/
Tester/RealData/acc/
Tester/RealData/distance/
Tester/RealData/speed/
Maps/
projectpres/bin/
*.net.xml
*.rou.alt.xml
*.rou.xml
*.sumocfg
*trips.xml
*.pyc
*/traci
ElevatorTale/ElevatorTale.log
ElevatorTale/ElevatorTale.aux
TestResults/

Exam/bin/
