body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #FFFFFF;
	color: #000000;
}

p,ul,ol,td,th,center,li,caption,blockquote {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

a {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
}

h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
}

/* lghead increases the font size for header text that doesn't use a standard H tag. */

.lghead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	font-weight: bold;
}

.heading {
	margin-top:0px;
	margin-bottom:0px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* use the minor and major classes to modify the font size of header tags when the default size is not appropriate */

.minor {
	font-size: 14px;
}

.major {
	font-size: 18px;
}

.date {
	font-size: 14px;
	font-weight : normal;
}

/* row turns off the default bold and center for <th>. */

.row {
	font-weight : normal;
	text-align:left;
}

.hcaption {
	font-weight : normal;
}
.normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.norm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight : normal;
}

/* bcrumb formats text for bread crumb links */

.bcrumb {
	font-size:11px;
	font-family: arial, verdana, helvetica, sans-serif;
}

/* nobr replaces the deprecated nowrap attribute */

.nobr {
	white-space: nowrap;
}

body.nomargin {
	margin: 0px;
}

.content {
	margin: 4px;
}

.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* li.none removes bullets from <ul><li> for indenting lists. Only use for content that is actually a list; use the padding classes if the content is not a list */

li.none {
	list-style-type: none;
}

/* li.hang removes bullets from <ul><li> for indenting lists. 
Only use for content that is actually a list and requires numbers or letters in 
parenthesis, such as an Order, to match hard copy; 
use the padding classes if the content is not a list */


li.hang {
	list-style-type: none;
	text-indent: -1.3em;
}

/* padding classes for indenting text when blockquote is not appropriate; indents text by increments of 1 em */

.padding {
	padding-left: 1em;
}

.padding2 {
	padding-left: 2em;
}

.padding3 {
	padding-left: 3em;
}

.padding4 {
	padding-left: 4em;
}

.captionleft {
	text-align:left;
}

.def {
	font-weight: bold;
}

/*Class hidetext used with <label> tag in forms when there is no text to label; include text that describes for form field for text screen readers */

.hidetext {
text-indent: -9999px;
}

/*Class tspace adds padding to the <table> tag*/

.tspace {
	margin-top: 10px;
}

.tspace caption {
	padding-top: 15px;
}
/* moddate formats the text generated by javascript for the last update date */

.moddate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; margin-top:10px;
}

/*
Use moddatepad with moddate if space above the last update date is necessary. 
Usually necessary if there isn't a <p> tag immediately before the moddaate <div>. 
Use instead of <p></p>
class="moddate moddatepad"
 */

.moddatepad {
	padding-top: 12px;
}

/* footer formats the standard FHWA footer text */

.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/* classes for the PDF links in Notices and attachments*/
 .noticepdf {
	border: 1px solid #666;
	color: #000;
	background-color: #FFFFDD;
	width: 270px;
	float: right;
	padding: 4px;
	text-align: left;
	clear: right;
	margin: 2px;
}

.noticepdf p {
	font-size: .85em;
	padding-top: 1px;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.noticepdf .pdfsmall {
	font-size: .7em;
}

body.canceled { 
	background-image: url('/legsregs/directives/canceled.gif'); 
} 
/* end Notices PDF css */

.line {
	border-top: 1px solid #000;

}

.underline {
	border-bottom: 1px solid #000;

}

/* FEEDBACK BUTTON STYLES */

form.inline, form.inline * { display: inline; margin:0; padding:0 }

button { overflow:visible; width:auto }

button.link {

	text-align: left;
	color:#00f;
	background: none;
	margin:0;
	padding:0;
	border:#fff solid 0px;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	display:block;

			

	-moz-user-select: text;

	/* override all your button styles here if there are any others */

}

button.link span { text-decoration:underline }

button.link:hover span, button.link:focus span { color:#00f; text-decoration:none }

td.footer button.link { font-size:11px }
